<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmotionalApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.login_signup.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원가입 화면 -->
        <activity
            android:name=".ui.login_signup.SignUpActivity"
            android:exported="false" />

        <!-- 나의 훈련 목록 화면 -->
        <activity android:name=".ui.alltraining.AllTrainingPageActivity" android:exported="false" />
        <activity android:name=".ui.alltraining.DailyTrainingPageActivity" android:exported="false" />
        <activity android:name=".ui.alltraining.IntroActivity" android:exported="false" />
        <activity android:name=".ui.alltraining.EmotionActivity" android:exported="false" />
        <activity android:name=".ui.alltraining.BodyActivity" android:exported="false" />
        <activity android:name=".ui.alltraining.MindActivity" android:exported="false" />
        <activity android:name=".ui.alltraining.ExpressionActivity" android:exported="false" />

        <activity android:name=".ui.intro.IntroTrainingActivity" android:exported="true" />

        <activity android:name=".ui.emotion.SelectActivity" android:exported="false" />
        <activity android:name=".ui.emotion.AnchorActivity" android:exported="false" />
        <activity android:name=".ui.emotion.ArcActivity" android:exported="false" />
        <activity android:name=".ui.emotion.SelectReportActivity" android:exported="false" />
        <activity android:name=".ui.emotion.ArcReportActivity" android:exported="false" />
        <activity android:name=".ui.emotion.AnchorReportActivity" android:exported="false" />

        <activity android:name=".ui.body.BodyTrainingIntroActivity" android:exported="false" />
        <activity android:name=".ui.body.BodyTrainingDetailActivity" android:exported="false" />
        <activity android:name=".ui.body.BodyTrainingPracticeActivity" android:exported="false" />
        <activity android:name=".ui.body.BodyTrainingRecordActivity" android:exported="false"/>

        <activity android:name=".ui.mind.ArtActivity" android:exported="false" />
        <activity android:name=".ui.mind.ArtReportActivity" android:exported="false" />
        <activity android:name=".ui.mind.TrapActivity" android:exported="false" />
        <activity android:name=".ui.mind.TrapReportActivity" android:exported="false" />
        <activity android:name=".ui.mind.AutoActivity" android:exported="false" />
        <activity android:name=".ui.mind.AutoReportActivity" android:exported="false" />
        <activity android:name=".ui.mind.AutoTrapReportActivity" android:exported="false" />

        <activity android:name=".ui.expression.AvoidanceActivity" android:exported="false" />

        <activity android:name=".ui.weekly.WeeklyReportActivity" android:exported="false" />

        <activity android:name=".ui.expression.AvoidanceQuizActivity" android:exported="false" />
        <activity android:name=".ui.expression.StayActivity" android:exported="false" />

        <activity android:name=".ui.expression.DrivenActionQuizActivity" android:exported="false" />
        <activity android:name=".ui.expression.OppositeActionActivity" android:exported="false" />
        <activity android:name=".ui.expression.AlternativeActionActivity" android:exported="false" />
        <activity android:name=".ui.weekly.WeeklyActivity" android:exported="false" />

        <activity android:name=".ui.emotion.EmotionReportActivity" android:exported="false" />
        <activity android:name=".ui.body.BodyReportActivity" android:exported="false" />
        <activity android:name=".ui.mind.MindReportActivity" android:exported="false" />
        <activity android:name=".ui.expression.ExpressionReportActivity" android:exported="false" />

        <activity android:name=".ui.expression.AvoidanceGuideActivity" android:exported="false" />
        <activity android:name=".ui.expression.DrivenActionGuideActivity" android:exported="false" />

        <activity android:name=".ui.body.BodyTrainingRecordViewActivity" />
        <activity android:name=".ui.body.BodyTrainingReportDetailActivity" />

        <activity
            android:name=".ui.expression.AvoidanceReportActivity"
            android:exported="false" />

        <activity
            android:name=".ui.expression.OppositeReportActivity"
            android:exported="false" />

        <activity
            android:name=".ui.expression.StayReportActivity"
            android:exported="false" />

        <activity
            android:name=".ui.expression.AlternativeReportActivity"
            android:exported="false" />

        <activity android:name=".ui.chat.ChatActivity" android:exported="false" />


<!--        <activity android:name=".AddTester"-->
<!--            android:exported="true">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--        </activity>-->
    </application>
</manifest>
